In [23]:
import pandas as pd

In [24]:
df = pd.read_excel("Movies_dataset.xlsx")
df

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
995   Movie 996     Sci-Fi          2013          8.7   456.39
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[1000 rows x 5 columns]

### 1. Select all movies in the "Action" genre.

In [25]:
#df = df.where(df.Genre == 'Action')
df[df.Genre == 'Action']

    Movie Name   Genre  Release_Year  IMDb_Rating  Revenue
4      Movie 5  Action          2012          6.6  1205.51
34    Movie 35  Action          2009          8.7   545.60
64    Movie 65  Action          2023          7.7  1137.79
65    Movie 66  Action          1999          3.1  1335.85
73    Movie 74  Action          2001          4.1   350.80
..         ...     ...           ...          ...      ...
930  Movie 931  Action          1994          8.6  1863.66
944  Movie 945  Action          2004          7.5  1709.81
980  Movie 981  Action          2022          5.2    28.40
988  Movie 989  Action          2023          4.1   231.67
998  Movie 999  Action          1996          8.9   941.67

[104 rows x 5 columns]

### 2. Select movies released after 2000.

In [26]:
df[df.Release_Year > 2000]

    Movie Name     Genre  Release_Year  IMDb_Rating  Revenue
2      Movie 3   Romance          2002          5.2  1122.13
3      Movie 4   Romance          2001          4.5   581.84
4      Movie 5    Action          2012          6.6  1205.51
6      Movie 7   Mystery          2021          5.1  1683.99
7      Movie 8    Comedy          2005          4.0  1062.13
..         ...       ...           ...          ...      ...
988  Movie 989    Action          2023          4.1   231.67
989  Movie 990   Fantasy          2004          1.6  1056.58
991  Movie 992  Thriller          2004          9.2   251.25
995  Movie 996    Sci-Fi          2013          8.7   456.39
997  Movie 998   Fantasy          2016          8.1  1161.96

[518 rows x 5 columns]

### 3. Select movies with an IMDb rating greater than 8.5.

In [27]:
df[df.IMDb_Rating > 8.5]

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
34     Movie 35     Action          2009          8.7   545.60
51     Movie 52    Mystery          1998          9.0  1089.93
56     Movie 57     Comedy          1993          9.2  1586.13
74     Movie 75  Adventure          1999          8.6  1688.49
81     Movie 82    Mystery          1997          8.6  1238.32
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
992   Movie 993     Horror          1985          9.6   951.23
995   Movie 996     Sci-Fi          2013          8.7   456.39
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[148 rows x 5 columns]

### 4. Select only "Movie Name" and "Genre" columns.

In [28]:
df[['Movie Name','Genre']]

     Movie Name      Genre
0       Movie 1     Sci-Fi
1       Movie 2  Adventure
2       Movie 3    Romance
3       Movie 4    Romance
4       Movie 5     Action
..          ...        ...
995   Movie 996     Sci-Fi
996   Movie 997  Adventure
997   Movie 998    Fantasy
998   Movie 999     Action
999  Movie 1000     Horror

[1000 rows x 2 columns]

### 5. Select movies released between 1990 and 2010.

In [29]:
df[(df.Release_Year > 1990) & (df.Release_Year < 2010)]

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
5       Movie 6    Fantasy          1997          2.4   485.22
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
994   Movie 995     Sci-Fi          1997          2.0   342.98
996   Movie 997  Adventure          1993          6.2  1255.27
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[459 rows x 5 columns]

### 6. Count the number of movies in each genre.

In [30]:
df.groupby('Genre').count()

           Movie Name  Release_Year  IMDb_Rating  Revenue
Genre
Action            104           104          104      104
Adventure          96            96           96       96
Comedy            110           110          110      110
Drama             113           113          113      113
Fantasy           107           107          107      107
Horror             90            90           90       90
Mystery            89            89           89       89
Romance            91            91           91       91
Sci-Fi             93            93           93       93
Thriller          107           107          107      107

### 7. Find the highest IMDb-rated movie.

In [31]:
df.IMDb_Rating.max()

10.0

### 8. Find the average IMDb rating of all movies.

In [32]:
df.groupby('Genre').IMDb_Rating.mean()

Genre
Action       5.670192
Adventure    5.012500
Comedy       5.442727
Drama        5.173451
Fantasy      5.200000
Horror       5.814444
Mystery      5.778652
Romance      5.938462
Sci-Fi       5.445161
Thriller     5.267290
Name: IMDb_Rating, dtype: float64

In [33]:
df.IMDb_Rating.mean()

5.458600000000001

### 9. Find the total box office collection of all movies.

In [34]:
df.Revenue.sum()

1049716.26

### 10. Select movies with box office earnings greater than 500 million.

In [35]:
df = df.rename(columns = {'Movie Name' : 'Movie_Name'})
df[df.Revenue > 500]

     Movie_Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
993   Movie 994  Adventure          1989          7.3  1273.65
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[774 rows x 5 columns]

### 11. Rank movies based on IMDb rating.

In [36]:
df1 = df.copy()
df1['Rank'] = df1.IMDb_Rating.rank(ascending = False)
df1

     Movie_Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1     Sci-Fi          2000          6.0  1680.53  432.5
1       Movie 2  Adventure          2000          2.2   987.24  869.0
2       Movie 3    Romance          2002          5.2  1122.13  529.5
3       Movie 4    Romance          2001          4.5   581.84  609.5
4       Movie 5     Action          2012          6.6  1205.51  353.5
..          ...        ...           ...          ...      ...    ...
995   Movie 996     Sci-Fi          2013          8.7   456.39  131.5
996   Movie 997  Adventure          1993          6.2  1255.27  406.5
997   Movie 998    Fantasy          2016          8.1  1161.96  199.5
998   Movie 999     Action          1996          8.9   941.67  104.5
999  Movie 1000     Horror          1995          9.4  1390.70   54.0

[1000 rows x 6 columns]

### 12. Sort movies by release year in descending order.

In [37]:
df.sort_values('Release_Year',ascending = False)

    Movie_Name      Genre  Release_Year  IMDb_Rating  Revenue
320  Movie 321    Romance          2024          4.2   477.47
211  Movie 212     Comedy          2024          1.5   837.32
489  Movie 490   Thriller          2024          3.2  1536.79
808  Movie 809     Action          2024          6.0   714.96
917  Movie 918     Horror          2024          1.1  1042.80
..         ...        ...           ...          ...      ...
509  Movie 510    Fantasy          1980          6.3  1260.11
798  Movie 799      Drama          1980          3.1  1587.13
496  Movie 497    Fantasy          1980          4.7  1683.97
794  Movie 795  Adventure          1980          4.5  1346.01
170  Movie 171    Mystery          1980          4.6  1684.78

[1000 rows x 5 columns]

### 13. Find all duplicate movie names (if any).

In [38]:
df.Movie_Name[df.duplicated()]

12    Movie 10
13    Movie 11
14    Movie 12
20    Movie 16
21    Movie 17
22    Movie 18
23    Movie 19
24    Movie 20
Name: Movie_Name, dtype: object

### 14. Remove duplicate movie names.

In [39]:
df = df.drop_duplicates('Movie_Name')
df

     Movie_Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
995   Movie 996     Sci-Fi          2013          8.7   456.39
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[992 rows x 5 columns]

### 15. Replace "Sci-Fi" genre with "Science Fiction".

In [43]:
df = df.replace('Sci-Fi','Science Fiction')
df

     Movie_Name            Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1  Science Fiction          2000          6.0  1680.53
1       Movie 2        Adventure          2000          2.2   987.24
2       Movie 3          Romance          2002          5.2  1122.13
3       Movie 4          Romance          2001          4.5   581.84
4       Movie 5           Action          2012          6.6  1205.51
..          ...              ...           ...          ...      ...
995   Movie 996  Science Fiction          2013          8.7   456.39
996   Movie 997        Adventure          1993          6.2  1255.27
997   Movie 998          Fantasy          2016          8.1  1161.96
998   Movie 999           Action          1996          8.9   941.67
999  Movie 1000           Horror          1995          9.4  1390.70

[992 rows x 5 columns]

### 16. Select the first 10 movies.

In [44]:
df.head(10)

  Movie_Name            Genre  Release_Year  IMDb_Rating  Revenue
0    Movie 1  Science Fiction          2000          6.0  1680.53
1    Movie 2        Adventure          2000          2.2   987.24
2    Movie 3          Romance          2002          5.2  1122.13
3    Movie 4          Romance          2001          4.5   581.84
4    Movie 5           Action          2012          6.6  1205.51
5    Movie 6          Fantasy          1997          2.4   485.22
6    Movie 7          Mystery          2021          5.1  1683.99
7    Movie 8           Comedy          2005          4.0  1062.13
8    Movie 9           Horror          1992          2.8  1592.74
9   Movie 10            Drama          1996          3.2  1352.66

### 17. Select the last 5 movies.

In [45]:
df.tail()

     Movie_Name            Genre  Release_Year  IMDb_Rating  Revenue
995   Movie 996  Science Fiction          2013          8.7   456.39
996   Movie 997        Adventure          1993          6.2  1255.27
997   Movie 998          Fantasy          2016          8.1  1161.96
998   Movie 999           Action          1996          8.9   941.67
999  Movie 1000           Horror          1995          9.4  1390.70

### 18. Group movies by genre and find the average IMDb rating for each genre.

In [55]:
df.groupby('Genre').IMDb_Rating.mean()

Genre
Action             5.670192
Adventure          4.982105
Comedy             5.466667
Drama              5.191071
Fantasy            5.183962
Horror             5.810112
Mystery            5.772727
Romance            5.938462
Science Fiction    5.471739
Thriller           5.267290
Name: IMDb_Rating, dtype: float64

### 19. Find the number of movies released in each year.

In [54]:
df.groupby('Release_Year').Movie_Name.count()

Release_Year
1980    26
1981    17
1982    20
1983    16
1984    16
1985    28
1986    20
1987    17
1988    19
1989    30
1990    21
1991    21
1992    26
1993    21
1994    23
1995    27
1996    25
1997    22
1998    28
1999    25
2000    29
2001    23
2002    24
2003    24
2004    20
2005    21
2006    22
2007    28
2008    24
2009    21
2010    20
2011    23
2012    20
2013    26
2014    20
2015    23
2016    14
2017    18
2018    18
2019    15
2020    20
2021    16
2022    25
2023    18
2024    32
Name: Movie_Name, dtype: int64

### 20. Find the total box office collection per genre.

In [53]:
df.groupby('Genre').Revenue.sum()

Genre
Action             111137.94
Adventure          102437.69
Comedy             119580.40
Drama              118958.66
Fantasy            108251.78
Horror              89281.21
Mystery             98236.50
Romance             94413.72
Science Fiction     84677.79
Thriller           112412.12
Name: Revenue, dtype: float64